.navbar {
    padding: 20px 100px;
    box-shadow: 0 0 1px var(--border);
    background-color: var(--secondary-bg);
}

.link {
    color: var(--nav-link);
    font-size: 18px;
}

.navbar-right > button {
    padding: 10px 18px;
}

.navbar input[type="search"] {
    color: var(--text-color);
    font-weight: 700;
    padding: 10px 18px;
    width: 450px;
    border: 1px solid var(--border);
    border-radius: 8px;
    background: transparent;
}

.navbar input[type="search"]::placeholder {
    color: var(--text-color);
}

.profile {
    color: var(--white);
    width: auto;
    min-width: 48px;
    padding: 10px;
    height: 48px;
    border-radius: 24px;
    background-color: var(--blue);
    position: relative;
    cursor: pointer;
}

.theme-toggle {
    color: var(--text-color);
    font-size: 24px;
    background: transparent;
}

.theme-toggle:active {
    transform: rotate(180deg);
    transition: 500ms;
}
