* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white: #fff;
    --black: #000;
    --blue: #1d4ed8;
    --nav-link: #000;
    --border: var(--black);
    --text-color: var(--black);
    --slate-900: #0f172a;
    --slate-100: #f1f5f9;
    --primary-bg: var(--slate-100);
    --secondary-bg: var(--white);
}

.dark {
    color: var(--white);
    background-color: var(--black);
    --nav-link: #fff;
    --border: var(--white);
    --text-color: var(--white);
    --primary-bg: var(--slate-900);
    --secondary-bg: var(--black);
}

.light {
    color: var(--black);
    background-color: var(--white);
    --nav-link: #000;
    --border: var(--black);
    --text-color: var(--black);
    --primary-bg: var(--slate-100);
    --secondary-bg: var(--white);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-bg);
    border-radius: 20px;
    border: 3px solid var(--secondary-bg);
}

a {
    text-decoration: none;
}

button {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--blue);
    cursor: pointer;
}

input {
    outline: none;
}